.sidebar {
  width: 260px;
  background: #fff;
  padding: 24px 18px;
  border-right: 1px solid #eee;
  font-family: sans-serif;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-item {
  font-size: 16px;
  color: #000;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-item:hover {
  color: var(--hover-color);
}

.arrow img {
  width: 16px;
  height: 16px;
}

.submenu {
  margin-top: 4px;
  padding-left: 12px;
}

.submenu-item {
  font-size: 14px;
  padding: 6px 10px;
  color: var(--text-color3);
  cursor: pointer;
}

.submenu-item:hover {
  color: var(--hover-color);
}
