*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

:root {
--primary: #FFFFFF;
--primary1: #363738;
--secondary: #F5F5F5;
--secondary1: #FEFAF1;
--background-color: #FFFFFF;
--text-color: #FAFAFA;
--text-color1: #7D8184;
--text-color2: #000000;
--text-color3: #444444;
--hover-color: #DB4444;
}